<div class="list-wrap">
<% @lists.each do |list| %>
  <div class="list-box">
    <%= image_tag list.image, size: "200x200" %>
    <div class="list-comment">
      <span class="list-body"><%= list.body %></span>
      <span class="list-title"><%=link_to list.title, list_path(list.id) %></span>
    </div>
  </div>
<% end %>
</div>